<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mz.org.fgh.mentoring">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".infra.MentoringApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.ListTutoredActivity"
            android:label="Tutorados" />
        <activity android:name=".activities.TutoredActivity" />
        <activity
            android:name=".activities.ConfigurationActivity"
            android:icon="@mipmap/ic_settings"
            android:label="@string/config" />
        <activity
            android:name=".activities.MentoringActivity"
            android:label="@string/title_activity_list_mentorship"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activities.ListMentorshipActivity"
            android:label="@string/title_activity_list_mentorship"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.TutorUpdateActivity"
            android:label="@string/title_activity_tutor_update"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.IndicatorActivity"
            android:label="@string/title_activity_indicator_collection"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ListIndicatorsActivity"
            android:label="@string/title_activity_indicator_collection"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.ResetPasswordActivity" />
        <activity
            android:name=".activities.ReportActivity"
            android:label="@string/reports"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.SessionsReportActivity"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="41c62d21d4f0069ce8ee99fda0eae68dba127745" />
    </application>

</manifest>